<% layout('layout') -%>
<% script('js/bootstrap.js') -%>
<% stylesheet('css/bootstrap.css') -%>

      <!-- Jumbotron -->
      <div class="jumbotron">
		  <h1><%= title + ' ' %><code><%= user.username %></code></h1>
		  <p style="text-align:center;">Ho Créateur ! Inventez-nous comme toutes choses en cet univers.</p>
          <p>
            <a href="/maitre-aide" class="btn btn-primary btn-lg">aide &raquo;</a>
            <a href="/maitre-de-jeu" class="btn btn-primary btn-lg">retour &raquo;</a>
          </p>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h3>Créez une Unité:</h3>
          <form method='post' action='/maitre-unites-new'>

            <div>
            <label>Nom:</label>
            <input type="text" name="name"/><br/>
            </div>

            <div>
            <label>Avatar:</label>
            <input type="text" name="avatar"/><br/>
            </div>

            <div>
              <label>Description:</label>
              <textarea name="description" row="5" cols="50"></textarea>
            </div>

            <hr>
            <%= unites.name %>

                <h2>Inclure d'autres unités dans celle-ci:</h2>
            <% if (unites && unites.length !=0) { %>
              <div>
                  <% for (var index in unites) { %>
                    <input type="checkbox" name="<%= unites[index].unit %>" value="<%= unites[index]._id %>"> <%= unites[index].name %> |
                  <% } %>
              </div>
            <% } else { %>
              <div>
                no document exist
              </div>
            <% } %>

            <hr>

                <h2>Inclure cette unité dans d'autres unités:</h2>
            <% if (unites && unites.length !=0) { %>
              <div>
                  <% for (var index in unites) { %>
                    <input type="checkbox" name="<%= unites[index].unit %>" value="<%= unites[index]._id %>"> <%= unites[index].unit %> |
                  <% } %>
              </div>
            <% } else { %>
              <div>
                no document exist
              </div>
            <% } %>


            <input type="submit" value="Save">
          </form>
        </div>
      </div>

      <!-- Site footer -->
      <div class="footer">
        <p>&copy; Company 2013</p>
      </div>

    </div> <!-- /container -->
