<% layout('layout') -%>
<% script('js/bootstrap.js') -%>
<% stylesheet('css/bootstrap.css') -%>

      <!-- Jumbotron -->
      <div class="jumbotron">
		  <h1><%= title + ' ' %><code><%= user.username %></code></h1>
		  <p style="text-align:center;">Ho Créateur ! Inventez-nous comme toutes choses en cet univers.</p>
          <p>
            <a href="/maitre-aide" class="btn btn-primary btn-lg">aide &raquo;</a>
            <a href="/maitre-de-jeu" class="btn btn-primary btn-lg">retour &raquo;</a>
          </p>
          
          <p>
            <a href="/maitre-unit-new" class="btn btn-primary btn-lg">Créer &raquo;</a>
            <a href="#" class="btn btn-primary btn-lg">Modifier &raquo;</a>
            <a href="#" class="btn btn-primary btn-lg">Supprimer &raquo;</a>
            <a href="/maitre-unit-show" class="btn btn-primary btn-lg">Voir &raquo;</a>
            <a href="/#" class="btn btn-primary btn-lg">tester &raquo;</a>
          </p>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h3>Créez une Grille:</h3>
          <form method='post' action='/maitre-grille-new'>

            <div>
            <label>Nom:</label>
            <input type="text" name="name"/><br/>
            </div>

            <div>
            <label>Avatar:</label>
            <input type="text" name="avatar"/><br/>
            </div>

            <div>
              <label>Description:</label>
              <textarea name="description" row="5" cols="50"></textarea>
            </div>

            <div>
              <label>Taille de la grille:</label>
              X<input type="text" name="sizex">
              Y<input type="text" name="sizey">
            </div>
            <hr>
            <% if (docs) { %>
              <div>
                <h2>Inclure des documents dans cette grille:</h2>
                  <% for (var index in docs) { %>
                    <input type="checkbox" name="<%= docs[index].unit %>" value="<%= docs[index]._id %>"> <%= docs[index].unit %> |
                  <% } %>
              </div>
            <% } else { %>
              <div>
                no document exist
              </div>
            <% } %>

            <input type="submit" value="Save">
          </form>
        </div>
      </div>

      <!-- Site footer -->
      <div class="footer">
        <p>&copy; Company 2013</p>
      </div>

    </div> <!-- /container -->
