<% layout('layout') -%>
<% script('js/bootstrap.js') -%>
<% stylesheet('css/bootstrap.css') -%>

      <!-- Jumbotron -->
      <div class="jumbotron">
		  <h1><%= title + ' ' %><code><%= user.username %></code></h1>
		  <p style="text-align:center;">Ho Créateur ! Inventez-nous comme toutes choses en cet univers.</p>
      	  <p><a href="/maitre-aide" class="btn btn-primary btn-lg">aide / qu'est ce qu'est cette section&raquo;</a></p>
      </div>

      <div class="row" style="background-color:rgba(50,200,150,1)">
        <div class="col-md-6">
          <h2>Liste des Unités</h2>
          
            <% if (unites && unites.length !=0) { %>
              <div>
                  <% for (var index in unites) { %>
                    <%= unites[index].unit %> <%= unites[index]._id %> |
                  <% } %>
              </div>
            <% } else { %>
              <div>
                no unit exist
              </div>
            <% } %>
          <!-- fin du test de message flash -->

          <% unites.forEach(function (task) { %>

            <p>
              <img src="images/syst_planet1.jpeg">
              <strong>syst_solaire1</strong>
              <a href="tasks/<%= task.id %>"><%= task.name %></a>
                <form style="inline-form" method="post" action="tasks/<%= task.id %>">
                  <input name="_method" value="DELETE" type="hidden">
                  <input type="submit" value="Delete">
                </form>
              <a href="tasks/<%= task.id %>/edit"><%= task.name %></a><br><br>
            </p>
          <% }); %>
        </div>

        <div class="col-md-6" style="background-color:rgba(200,50,50,0.6)">
          <h2><a href="/maitre-unites-new">Nouvelle unité</a></h2>
          <p>
            Permet de créer vos éléments pour les grilles, histoires, tableaux...(pour tous les modules du wygsyg univers)
          </p>
       </div>
      </div>

      <div class="row" style="background-color:rgba(200,100,50,1)">
        <div class="col-md-6">
          <h2>Liste des Objets avec actions</h2>
          
            <% if (unites && unites.length !=0) { %>
              <div>
                <h2>Inclure d'autres documents dans celui-ci:</h2>
                  <% for (var index in unites) { %>
                    <input type="checkbox" name="<%= unites[index].unit %>" value="<%= unites[index]._id %>"> <%= unites[index].unit %> |
                  <% } %>
              </div>
            <% } else { %>
              <div>
                no document exist
              </div>
            <% } %>
          <!-- fin du test de message flash -->

          <% unites.forEach(function (task) { %>

            <p>
              <img src="images/syst_planet1.jpeg">
              <strong>syst_solaire1</strong>
              <a href="tasks/<%= task.id %>"><%= task.name %></a>
                <form style="inline-form" method="post" action="tasks/<%= task.id %>">
                  <input name="_method" value="DELETE" type="hidden">
                  <input type="submit" value="Delete">
                </form>
              <a href="tasks/<%= task.id %>/edit"><%= task.name %></a><br><br>
            </p>
          <% }); %>
        </div>

        <div class="col-md-6" style="background-color:rgba(200,50,50,0.6)">
          <h2><a href="/maitre-unites-actions-new">Nouvel action pour un objet</a></h2>
          <p>
            Permet d'ajouter des actions sur vos objets.
            <br><a href="#" class="btn btn-primary btn-sm">Aide - explications &raquo;</a>
          </p>
       </div>
      </div>

      <div class="row" style="background-color:rgba(50,150,200,1)">
        <div class="col-md-6">
          <h2>Liste des Grilles</h2>
          
            <% if (unites && unites.length !=0) { %>
              <div>
                <h2>Inclure d'autres documents dans celui-ci:</h2>
                  <% for (var index in unites) { %>
                    <input type="checkbox" name="<%= unites[index].unit %>" value="<%= unites[index]._id %>"> <%= unites[index].unit %> |
                  <% } %>
              </div>
            <% } else { %>
              <div>
                no document exist
              </div>
            <% } %>
          <!-- fin du test de message flash -->

          <% unites.forEach(function (task) { %>

            <p>
              <img src="images/syst_planet1.jpeg">
              <strong>syst_solaire1</strong>
              <a href="tasks/<%= task.id %>"><%= task.name %></a>
                <form style="inline-form" method="post" action="tasks/<%= task.id %>">
                  <input name="_method" value="DELETE" type="hidden">
                  <input type="submit" value="Delete">
                </form>
              <a href="tasks/<%= task.id %>/edit"><%= task.name %></a><br><br>
            </p>
          <% }); %>
        </div>

        <div class="col-md-6" style="background-color:rgba(200,50,50,0.6)">
          <h2><a href="/maitre-zone-new">Nouvelle Grille</a></h2>
          <p>
            Permet de créer une grille.
          </p>
       </div>
      </div>



      <div class="row" style="background-color:rgba(50,200,150,1)">
        <div class="col-md-6">
          <h2>Liste des Grilles avec Objets avec Actions</h2>
          
            <% if (unites && unites.length !=0) { %>
              <div>
                <h2>Inclure d'autres documents dans celui-ci:</h2>
                  <% for (var index in unites) { %>
                    <input type="checkbox" name="<%= unites[index].unit %>" value="<%= unites[index]._id %>"> <%= unites[index].unit %> |
                  <% } %>
              </div>
            <% } else { %>
              <div>
                no document exist
              </div>
            <% } %>
          <!-- fin du test de message flash -->

          <% unites.forEach(function (task) { %>

            <p>
              <img src="images/syst_planet1.jpeg">
              <strong>syst_solaire1</strong>
              <a href="tasks/<%= task.id %>"><%= task.name %></a>
                <form style="inline-form" method="post" action="tasks/<%= task.id %>">
                  <input name="_method" value="DELETE" type="hidden">
                  <input type="submit" value="Delete">
                </form>
              <a href="tasks/<%= task.id %>/edit"><%= task.name %></a><br><br>
            </p>
          <% }); %>
        </div>

        <div class="col-md-6" style="background-color:rgba(200,50,50,0.6)">
          <h2><a href="/maitre-zone-unites-new">Nouvelle Grille avec objets/actions</a></h2>
          <p>
            Permet de placer vos objets dans une grille.
          </p>
       </div>
      </div>










      




      <!-- Site footer -->
      <div class="footer">
        <p>&copy; Company 2013</p>
      </div>

    </div> <!-- /container -->
